# macOS
.DS_Store

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.ipa
*.dSYM.zip
*.dSYM

# Xcode per-user/environment workspace state
**/xcshareddata/IDEWorkspaceChecks.plist
**/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Documentation build output
.docc-build/
